[Unit]
Description=Dansal feed fetch
After=dansal.service
Requires=dansal.service

[Service]
Type=oneshot
User=dansal
Group=dansal
ExecStart=/usr/bin/dansal_admin fetch-all
NoNewPrivileges=true
