[Unit]
Description=Dansal sysadmin web panel (%i)
After=dansal@%i.service
Requires=dansal@%i.service

[Service]
Type=simple
User=dansal
Group=dansal
SyslogIdentifier=dansal-webmin@%i
ExecStart=/usr/lib/dansal/%i/dansal-webmin --config /etc/dansal/%i/webmin.yaml
Restart=on-failure
RestartSec=5

# Sandboxing
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
LockPersonality=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictSUIDSGID=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
SystemCallFilter=@system-service
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
RemoveIPC=true
ReadWritePaths=/var/lib/dansal-web/%i
BindReadOnlyPaths=/var/lib/dansal

[Install]
WantedBy=multi-user.target
